{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry"
        }
      ]
    ],
    /*"plugins": [
      "proposal-class-properties",
      "proposal-export-default-from"
    ]*/
  }